{% set colors = {earn: 'bg-success', bonus: 'bg-info', redeem: 'bg-warning', expire: 'bg-danger', adjust: 'bg-secondary'} %}
<span class="badge {{ colors[data] ?? 'bg-secondary' }}">
    {{ data|upper }}
</span>
