{% if resource.customer is not null %}
    <a href="{{ path('sylius_admin_customer_show', {id: resource.customer.id}) }}">
        {{ resource.customer.fullName }} ({{ resource.customer.email }})
    </a>
{% else %}
    -
{% endif %}
