{% if data.customer is not null %}
    <a href="{{ path('sylius_admin_customer_show', {id: data.customer.id}) }}">
        {{ data.customer.fullName }} ({{ data.customer.email }})
    </a>
{% else %}
    -
{% endif %}
