{% if data is not null %}
    <span class="badge" {% if data.color %}style="background-color: {{ data.color }}; color: white;"{% endif %}>
        {{ data.name }}
    </span>
{% else %}
    <span class="badge bg-secondary">{{ 'loyalty.ui.no_tier'|trans }}</span>
{% endif %}
