{% set codes = data.targetCodes|default([]) %}

{% if codes|length > 0 %}
    {% for code in codes %}
        <span class="badge bg-light text-dark me-1">{{ code }}</span>
    {% endfor %}
{% else %}
    <span class="text-muted">-</span>
{% endif %}
